# Dependencies
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log
.pnpm-debug.log*

# Testing
.tests/
coverage/

# Production
.next/
out/
dist/
build/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
*.iml

# Git
.git
.gitignore

# Documentation
README.md
*.md
docs/

# Other
.eslintcache
.sass-cache
.cache
*.tgz
